.form{
  background-color: #52525B;
  padding: 20px;
  border-radius: 10px;
  width: 20%;
}
.form-control{
  border :none;
  color :#FFF;
}
.main-container,.password-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95vw;
}
.btn-group{
  display: flex;
  margin-top: 10px;
  font-size: 18px;
}
.password-container{
  padding: 0 30px;
  margin: 0 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
show-password{
  display: flex;
  font-size: 18px;
  background-color: #1a2124;
  padding: 5px;
  border-radius: 5px;
}
.password-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 0px;
}
.password-info > p{
  margin-bottom: 0px;
}
.show-password-form{
  display: flex;
  font-size: 18px;
  justify-content: flex-end;
}
.show-password-form > label{
  display: flex;
}
.show-password > input,.show-password-form > label >input{
  width: 10px;
  margin-left: 2px;
}

@media screen and (max-width:460px) {
  .form{
    width: 70%;
  }
  .btn-group{
    font-size: 10px;
  }
  .show-password{
    font-size: 10px;
  }
  .show-password-form{
    font-size: 10px;
  }
  .password-container{
    display: flex;
    flex-direction: column;
  }
}